.abouts3y{
    background-color:white;
    border-radius: 10px;
    padding: 20px;
    margin-right: 20px;
}

.abouts3y h4{
    color:#164863;;
}
.abouts3y span{
    color: #164863;
    font-style: italic;
    font-weight:bold;
}

