/* .forgetpass {
    width: 500px;
    height: 400px;
    margin: 50px auto;
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
  }

  .forgetpass img{
    width: 150px;
    height: 150px;
  }
  
  .forgetpass h4 {
   color: #164863;
   margin-bottom: 16px;
  }
  

  
  .form-control {
    width: 95%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    
  }

  .form-control:focus{
    border: 2px solid #164863;
    outline: none;
  }

 

  .emailicon {
    position: absolute;
    transform: translateY(92%) translateX(460px);
    padding-left: 10px;
    padding-top: 5px;
     color:#164863;
   }

  .backnxtbtns{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 65px;
    padding-left: 1px;
    padding-right: 1px;
    
  }
  
  .nextbtn {
    color: white;
    background-color: #164863;
    outline: none;
    border-radius: 10px;
    border:none;
    font-size: 16px;
    width: 140px;
    height:40px;
    margin-top: 32px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;

   
  }
  .nextbtn:hover{
    background: linear-gradient(to bottom,#9BBEC8,#427D9D,#164863);

  }

  .backbtn {
    color:#164863;
    background-color: none;
    outline: none;
    border-radius: 10px;
    border: 1px solid #164863;
    font-size: 16px;
    width: 140px;
    height:40px;
    margin-top: 32px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
   
  }

  .backbtn:hover{
    color: #ffffff;
    background-color: #164863;

  }
   */
