* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

.loginpage {
  position: relative;
  width: 100%;
  height: 609px;
  background: transparent;
  overflow: hidden;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #dce4e8;
}

form {
  display: flex;
  flex-direction: column;
}
form h3 {
  color: #164863;
  margin-right: 300px;
  margin-bottom: 32px;
}

.form-box {
  position: absolute;
  top: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-box.login {
  left: 0;
  padding: 0 100px 0 100px;
  width: 700px;
  margin-left: 40px;
}

h2 {
  text-align: center;
  color: #ffffff;
  font-size: 32px;
}

.input-box {
  position: relative;
  width: 60%;
  height: 50px;
  margin-top: 8px;
}

.input-box input {
  width: 95%;
  height: 80%;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 2px solid rgb(163, 163, 163);
  font-size: 16px;
  color: #164863;
  font-weight: 500;
  padding-right: 23px;
  transition: 0.5s;
}

.input-box input:focus {
  border-bottom-color: #164863;
}

.icon {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  color: #164863;
}

.Remember-me {
  margin-top: 8px;
  font-size: 16px;
  color: #164863;
  display: flex;
}
.Remember-me label input {
  margin-right: 5px;
}

.remforget {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.remforget p {
  margin-right: 280px;
  color: #164863;
  margin-top: 8px;
}

#btn {
  position: relative;
  width: 60%;
  height: 45px;
  background: transparent;
  border: 1px solid #9bbec8;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  color: white;
  font-weight: 600;
  z-index: 1;
  overflow: hidden;
  margin-top: 32px;
}

#btn::before {
  content: "";
  position: absolute;
  top: -100%;
  left: 0;
  width: 600px;
  height: 100px;
  background: linear-gradient(to bottom, #9bbec8, #427d9d, #164863);
  z-index: -1;
  transition: 0.5s;
}
#btn:hover::before {
  top: 0;
}

.logreg-link {
  font-size: 15px;
  color: #164863;
  text-align: center;
  margin-top: 8px;
  margin-right: 300px;
}

.link {
  color: #164863;
  text-decoration: none;
  font-weight: 600;
}

.link:hover {
  text-decoration: underline;
}

.logo {
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo img {
  width: 500px;
  height: 500px;
}

.bg-animate {
  position: absolute;
  top: -4px;
  right: 0;
  width: 1100px;
  height: 1000px;
  background: linear-gradient(to bottom, #9bbec8, #427d9d, #164863);
  border: 3px solid #ddf2fd;
  transform: rotate(10deg) skewY(40deg);
  transform-origin: bottom right;
}

.usertypebtns {
  width: 430px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.usretypeButton {
  outline: none;
  border: none;
  border-radius: 5px;
  width: 130px;
  height: 30px;
  margin-top: 8px;
}

div.error {
  width: 60%;
  padding: 10px;
  color: rgb(223, 3, 3);
  margin-top: 10px;
}
